In [2]:
from dash_website import DIMENSIONS, ALL_CATEGORIES
import pandas as pd 

phenotypic_table = pd.read_csv("../data/page4_correlations/ResidualsCorrelations/ResidualsCorrelations_bestmodels___Age_test.csv", index_col=0)

In [3]:
phenotypic = phenotypic_table.stack(dropna=False).rename(index={"*": "set", "*instances01": "set_instances01", "*instances1.5x": "set_instances1.5x", "*instances23": "set_instances23"})

In [4]:
phenotypic.index.names = ["dimension_1", "dimension_2"]
phenotypic.name = "correlation"
d = phenotypic.reset_index()

In [5]:
d

           dimension_1              dimension_2  correlation
0                  set                      set     1.000000
1                  set          set_instances01     0.838413
2                  set        set_instances1.5x     0.998501
3                  set          set_instances23     0.774242
4                  set                  Abdomen     0.375136
...                ...                      ...          ...
1084  PhysicalActivity      MusculoskeletalHips     0.137794
1085  PhysicalActivity     MusculoskeletalKnees     0.110722
1086  PhysicalActivity  MusculoskeletalFullBody     0.159431
1087  PhysicalActivity   MusculoskeletalScalars     0.125744
1088  PhysicalActivity         PhysicalActivity     1.000000

[1089 rows x 3 columns]